{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
  {% load static %}
  <div class="row">
  {% if error %}
    <div class="col-12">
      <div class="alert alert-warning">{{ error }}</div>
    </div>
  {% else %}
    <div class="col-12">
      {% include 'task/form.html' with f_btn_success_name='Отправить' f_member_id=member_id f_task_id=task_id f_action_url=action_url%}
    </div>
  {% endif %}
  </div>
{% endblock %}
{% block user_scripts %}
  <script>

  </script>
{% endblock %}