<!DOCTYPE html>
<html lang="ru">
  <head>
    {% include 'includes/meta_tags.html'%}
    <title>{% block title %}Приложение{% endblock %}</title>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      {% block content %}

      {% endblock %}
      {% block after_content %}

      {% endblock %}
    </main>
    <footer>
      {% include 'includes/footer.html' %}
    </footer>
    {% include 'includes/scripts.html' %}
    {% block user_scripts %}
    {% endblock %}
  </body>
</html>